.navbar-index {
  background-color: #7225A1;
  height: 100px;
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-index {
  display: flex;

  #map {
    // height: 300px;
    // width: 300px;
  }

}

.filters-container {
  .prices-dropdowns {
    display: flex;
  }
  .sizes-dropdowns {
    display: flex;
  }
  .bedroom-filters {
    display: flex;
  }

}

.apartments-container {

}


