.navbar-index {
  background-color: #7225A1;
  height: 100px;
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-index {
  display: flex;

}

.filters-container {

}

.apartments-container {

}

.card-apartment {

}
