.card-apartment {
  overflow: hidden;
  min-height: 260px;
  width: 1005;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 3px;

  .card-image {
    position: relative;
    width: 100%;
    img {
      object-fit: cover;
      width: 100%;

    }
    .price-banner {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 20%;
      background-color: rgba(255, 255, 255, 0.7);
      h4 {
          margin-top: 5px;
          font-size: 1.3em;
          font-weight: 700;
          margin-bottom: 5px;
          margin-left: 1rem;
        }
      h5 {
        // margin-left: 3%;
        font-size: 1em;
        margin-bottom: 20px;
        margin-left: 1rem;
      }
    }
  }
  .card-infos {

        .info-title {
          padding: 10px;
          border: 1px solid lightgrey;
        }
        .flex-infos {
          display: flex;
          justify-content: space-evenly;
          padding: 10px;
          border: 1px solid lightgrey;
          .infos-element {
            // border-right: 1px solid lightgrey;
            // text-align: center;
          }
        }
      }
  .card-apartment:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    }

}


