<div class="filters-container">
    <h4>Precio</h4>
    <div class="prices-dropdowns">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Min
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">60.000 &euro;</a>
          <a class="dropdown-item" href="#">70.000 &euro;</a>
          <a class="dropdown-item" href="#">80.000 &euro;</a>
          <a class="dropdown-item" href="#">90.000 &euro;</a>
          <a class="dropdown-item" href="#">100.000 &euro;</a>
          <a class="dropdown-item" href="#">110.000 &euro;</a>
          <a class="dropdown-item" href="#">120.000 &euro;</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Max
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">60.000 &euro;</a>
          <a class="dropdown-item" href="#">70.000 &euro;</a>
          <a class="dropdown-item" href="#">80.000 &euro;</a>
          <a class="dropdown-item" href="#">90.000 &euro;</a>
          <a class="dropdown-item" href="#">100.000 &euro;</a>
          <a class="dropdown-item" href="#">110.000 &euro;</a>
          <a class="dropdown-item" href="#">120.000 &euro;</a>
        </div>
      </div>
    </div>
      <h4>Tamaño</h4>
    <div class="sizes-dropdowns">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Min
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">40 m<sup>2</sup></a>
          <a class="dropdown-item" href="#">60 m<sup>2</sup></a>
          <a class="dropdown-item" href="#">80 m<sup>2</sup></a>
          <a class="dropdown-item" href="#">100 m<sup>2</sup></a>
          <a class="dropdown-item" href="#">120 m<sup>2</sup></a>
          <a class="dropdown-item" href="#">140 m<sup>2</sup></a>
          <a class="dropdown-item" href="#">160 m<sup>2</sup></a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Max
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">40 m<sup>2</sup></a>
          <a class="dropdown-item" href="#">60 m<sup>2</sup></a>
          <a class="dropdown-item" href="#">80 m<sup>2</sup></a>
          <a class="dropdown-item" href="#">100 m<sup>2</sup></a>
          <a class="dropdown-item" href="#">120 m<sup>2</sup></a>
          <a class="dropdown-item" href="#">140 m<sup>2</sup></a>
          <a class="dropdown-item" href="#">160 m<sup>2</sup></a>
        </div>
      </div>
    </div>
    <h4>Habitaciones</h4>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="btn-group col-sm-8" role="group" aria-label="Habitaciones">
        <button type="button" class="btn btn-secondary rooms-button">Todos</button>
        <button type="button" class="btn btn-secondary rooms-button">1+</button>
        <button type="button" class="btn btn-secondary rooms-button">2+</button>
        <button type="button" class="btn btn-secondary rooms-button">3+</button>
        <button type="button" class="btn btn-secondary rooms-button">4+</button>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <button class="btn-ver-inmuebles">Ver inmuebles</button>

    <!-- <div class="bedroom-filters">
      <input type="checkbox" name="One" value="1">1<br>
      <input type="checkbox" name="One" value="2">2<br>
      <input type="checkbox" name="One" value="3">3<br>
      <input type="checkbox" name="One" value="4">4<br>
    </div> -->
<!--     <h4>Baños</h4>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="btn-group col-sm-8" role="group" aria-label="Baños">
        <button type="button" class="btn btn-secondary">Todos</button>
        <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-secondary">4</button>
      </div>
      <div class="col-sm-2"></div>

    </div> -->

</div>
