<div class="filters-container">
    <h4>Precio</h4>
    <div class="prices-dropdowns">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Min
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">60.000</a>
          <a class="dropdown-item" href="#">70.000</a>
          <a class="dropdown-item" href="#">80.000</a>
          <a class="dropdown-item" href="#">90.000</a>
          <a class="dropdown-item" href="#">100.000</a>
          <a class="dropdown-item" href="#">110.000</a>
          <a class="dropdown-item" href="#">120.000</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Max
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">60.000</a>
          <a class="dropdown-item" href="#">70.000</a>
          <a class="dropdown-item" href="#">80.000</a>
          <a class="dropdown-item" href="#">90.000</a>
          <a class="dropdown-item" href="#">100.000</a>
          <a class="dropdown-item" href="#">110.000</a>
          <a class="dropdown-item" href="#">120.000</a>
        </div>
      </div>
    </div>
      <h4>Tamaño</h4>
    <div class="sizes-dropdowns">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Min
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">40</a>
          <a class="dropdown-item" href="#">60</a>
          <a class="dropdown-item" href="#">80</a>
          <a class="dropdown-item" href="#">100</a>
          <a class="dropdown-item" href="#">120</a>
          <a class="dropdown-item" href="#">140</a>
          <a class="dropdown-item" href="#">160</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Max
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">40</a>
          <a class="dropdown-item" href="#">60</a>
          <a class="dropdown-item" href="#">80</a>
          <a class="dropdown-item" href="#">100</a>
          <a class="dropdown-item" href="#">120</a>
          <a class="dropdown-item" href="#">140</a>
          <a class="dropdown-item" href="#">160</a>
        </div>
      </div>
    </div>
    <h4>Habitaciones</h4>
    <div class="bedroom-filters">
      <input type="checkbox" name="One" value="1">1<br>
      <input type="checkbox" name="One" value="2">2<br>
      <input type="checkbox" name="One" value="3">3<br>
      <input type="checkbox" name="One" value="4">4<br>
    </div>
    <h4>Baños</h4>
    <div class="bedroom-filters">
      <input type="checkbox" name="One" value="1">1<br>
      <input type="checkbox" name="One" value="2">2<br>
      <input type="checkbox" name="One" value="3">3<br>
      <input type="checkbox" name="One" value="4">4<br>
    </div>
  <button type="submit" class="btn">Ver immuebles</button>

</div>
