<script>
  $(document).ready(function(){
    $("#search-button-invalidated").click(function(){
      console.log("hello");
      $("#new_search").submit();
    });
    $(".filtros-button").click(function(){
      $("#myForm").slideToggle();
      $('#caret-toggle').toggleClass('fa-angle-up fa-angle-down');
    });
    $('#hiddenText').val($('#search_keywords').val());
  });
</script>

<div class="navbar-index">
  <i class="fas fa-bars"></i>
  <%= image_tag("_logo.png", class: "navbar-image") %>
</div>

<div class="search-bar-index">

<div class="fake-form">
  <input type="text" placeholder="Search.." id="search_keywords">
  <button id="search-button-invalidated"><i class="fa fa-search"></i></button>
</div>



  <button class="filtros-button">Filtros <i id="caret-toggle" class="fas fa-angle-up"></i></button>
</div>

  <div id="myForm">
    <%= render "apartments-filter" %>
  </div>

  <div class="apartments-container">
    <% @apartments.each do |apartment| %>
      <%= render "apartment-card", apartment: apartment %>
    <% end %>
  </div>

