<div class="navbar-index">
  <%= image_tag("_logo.png", :alt => "Kasaz logo") %>
  <h3>Log in</h3>
  <h3>English</h3>
</div>
<div class="container-index">

  <%= render "apartments-filter" %>

  <div class="apartments-container">
    <h1>Apartments</h1>
    <% @apartments.each do |apartment| %>
      <%= render "apartment-card", apartment: apartment %>
    <% end %>
  </div>
  <div class="map">
    <h1>Mapbox</h1>
  </div>

</div>
