<script>
  $(document).ready(function(){
    $(".filtros-button").click(function(){
      $("#myForm").slideToggle();
      $('#caret-toggle').toggleClass('fa-angle-up fa-angle-down');
    });
  });
</script>

<div class="navbar-index">
  <i class="fas fa-bars"></i>
  <%= image_tag("_logo.png", class: "navbar-image") %>
</div>

<div class="search-bar-index">

  <form action="" style="">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit" ><i class="fa fa-search" ></i></button>
  </form>

  <button class="filtros-button">Filtros <i id="caret-toggle" class="fas fa-angle-up"></i></button>
</div>

  <div class="filters-popup" id="myForm">
    <%= render "apartments-filter" %>
  </div>

  <div class="apartments-container">
    <% @apartments.each do |apartment| %>
      <%= render "apartment-card", apartment: apartment %>
    <% end %>
  </div>

