<div class="navbar-index">
  <i class="fas fa-bars"></i>
  <%= image_tag("_logo.png", class: "navbar-image") %>
</div>
<div class="search-bar-index">
  <form class="example" action="#" style="margin:auto;max-width:300px">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
</div>
  <div class="apartments-container">
    <% @apartments.each do |apartment| %>
      <%= render "apartment-card", apartment: apartment %>
    <% end %>
  </div>

