<div class="navbar-index">
  <%= image_tag("_logo.png", :alt => "Kasaz logo") %>
  <h3>Log in</h3>
  <h3>English</h3>
</div>
<div class="container-index">
  <div class="filters-container">
    <h2>Price</h2>
    <h2>Size</h2>
    <h2>Bedrooms</h2>
    <h2>Bathrooms</h2>
  </div>
  <div class="apartments-container">
    <h1>Apartments</h1>
    <% @apartments.each do |apartment| %>
      <div class="card-apartment">
        <h2><%= apartment.title %></h2>
      </div>
    <% end %>


  </div>

</div>
